<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>
 
	<appender name="OperacionesWS" class="org.apache.log4j.RollingFileAppender">
	   <param name="maxFileSize" value="5000KB" />
	   <param name="maxBackupIndex" value="5" />
	   <!-- For Tomcat -->
	   <param name="file" value="${catalina.home}/logs/OperacionesWS.log" />
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	   </layout>
	</appender>
 	<appender name="Consola" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>
    <category name="org.hibernate">  
        <priority value="info" />  
    </category>  
    <category name="java.sql">  
        <priority value="info" />  
    </category>
	<root>		
	   <level value="ERROR"/>
	   <priority value ="debug"/>
       <appender-ref ref="Consola"/>
		<appender-ref ref="OperacionesWS" />
	</root>
 
</log4j:configuration>

